@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Commissioner:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* 3. Add accessible line-height and improve text rendering */
body {
  min-height: 100vh; /* Optional: ensures body takes up full height */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 4. Improve media defaults (images are responsive by default) */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 5. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 6. Remove list styles on ul and ol if desired for navigation */
ul[class], ol[class] {
  list-style: none;
}
:root {
    --cl-primary: linear-gradient( hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --cl-primary-red: hsl(0, 100%, 66%);
    --cl-white: hsl(0, 100%, 100%);
    --cl-grey-200: hsl(270, 3%, 87%);
    --cl-grey-400: hsl(212, 12%, 71%);
    --cl-purple-900: hsl(278, 68%, 11%);
}
body {
   font-size: 18px;
   font-family: 'Space Grotesk', sans-serif;
}
.card-wrapper {
  background-image: url("images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  display: grid;
  justify-content: center;
  height: 70vh;
  padding-block-start: 2rem;
}
.cards {
    font-size: 15px;
    position: relative;
    display: grid;
    justify-items: end;
    padding-inline: 1rem;
    width: 100%;
    color: var(--cl-white);
}
.card-front {
    position: absolute;
    top: 6rem;
    right: 3rem;
    background-image: url("images/bg-card-front.png"); 
    color: var(--cl-white);
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 160px;
    border-radius: 5px;
    display: grid;
    gap: 2rem;
    z-index: 2;
    transform: translatex(50%);
}
.card-logo {
    width: 60px;
}
.card-number {
    font-size: 1.25rem;
    letter-spacing: 1px;
    font-weight: 500;
}
.card-details {
   display: grid;
   gap: .5rem;
}
.card-name-date {
    display: flex;
    justify-content: space-between;
}
.card-back {
    position: absolute;
    background-image: url("images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 300px;
    height: 160px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2.25rem;
    transform: translatex(54%);
}
form {
    margin-block: 5.25rem;
    display: grid;
    padding-inline: 1.125rem;
    gap: 2rem;
}
.forms input {
    border: double 3px transparent; /* Set a transparent border width */
    background-image: linear-gradient(white, white), linear-gradient(to right, #ccc, #ccc);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    outline: none; /* Removes the default blue/black focus outline */
    transition: background-image 0.5s ease; 
    width: 100%;
    padding: .75rem;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: var(--cl-purple-900);
}
input::placeholder {
    color: var(--cl-grey-400);
    font-weight: 500;
}
input:focus {
     background-image: linear-gradient(white, white), var(--cl-primary);
}
label{
    display: block;
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: 14px;
    color: var(--cl-purple-900);
    font-weight: 500;
}
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 1rem;
}
.date {
    display: flex;
    gap: .5rem;
}
.submit-btn {
    margin-top: 1rem;
    padding: 1rem;
    background: var(--cl-purple-900);
    color: var(--cl-white);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 30% 1fr;
        justify-content: space-around;
    }
    .card-wrapper {
        background-image: url("images/bg-main-desktop.png");
        height: 100vh;
    }
}