@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* 3. Add accessible line-height and improve text rendering */
body {
  min-height: 100vh; /* Optional: ensures body takes up full height */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 4. Improve media defaults (images are responsive by default) */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 5. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 6. Remove list styles on ul and ol if desired for navigation */
ul[class], ol[class] {
  list-style: none;
}
:root {
    --clr-primary-500: hsl(171, 66%, 44%);
    --clr-primary-100: hsl(233, 100%, 69%);
    --clr-neutral-700: hsl(210, 10%, 33%);
    --clr-neutral-500: hsl(201, 11%, 66%);
    --ff: "Bai Jamjuree", sans-serif;
    --h1: clamp(2rem, 1.3099rem + 1.8779vw, 2.55rem);
    --h2: clamp(1.85rem, 0.8099rem + 1.8779vw, 2.5rem);
    --h3: clamp(1.5rem, 1.162rem + 0.3756vw, 1.5rem);
}
body {
  background-image: url("images/bg-header-mobile.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100vw;
  font-size: 18px;
  font-family: var(--ff);
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 1rem;
}
h1 {
  font-size: var(--h1);
  color: var(--clr-neutral-700);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
h2 {
  font-size: var(--h2);
  color: var(--clr-neutral-700);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
h3 {
  font-size: var(--h3);
  color: var(--clr-neutral-700);
  margin-bottom: 1rem;
  font-weight: 600;
}
p {
  color: var(--clr-neutral-500);
}
.header {
  width: min(92%, 650px);
  text-align: center;
  margin: 0 auto;
  padding-top: 8rem;
}
.main-logo {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.heading-disc {
  margin-bottom: 2rem;
}
.btn-container {
  margin: 0 auto;
  margin-bottom: 6rem;
}
.btn-container button {
  margin-inline: auto;
  display: block;
  font-weight: 600;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
.btn-container button:nth-child(1) {
  background-color: var(--clr-primary-500);
  margin-bottom: 1.5rem;
  border-bottom: 3px solid #156659;
  box-shadow: 0px 10px 10px -1px rgba(38, 186, 164, 0.3)
}
.btn-container button:nth-child(2) {
  background-color: var(--clr-primary-100);
  border-bottom: 3px solid #2f44e9;
  box-shadow: 0px 10px 10px -1px rgba(32, 54, 223, 0.41);
}
  
main {
  width: 92%;
  margin-inline: auto;
  text-align: center;
}
.tracking-container {
  display: grid;
  justify-content: center;
}
.tracking-para {
  margin-bottom: 5rem;
  width: min(92%, 650px);
  margin-inline:auto;
}
.tracking-img {
  margin-bottom: 4rem;
  margin-inline: auto;
}
.tracking-img img {
  margin-bottom: 4rem;
}
.tracking-disc p {
  max-width: 500px;
  margin-bottom: 2rem;
  margin-inline: auto;
}
.tracking-disc p:last-child {
  margin-bottom: 8rem;
}
.clipboard {
  display: grid;
  justify-content: center;
}
.clipboard p {
  margin-bottom: 4rem;
}
.clipboard img {
  margin-bottom: 8rem;
}
.tools p {
  margin-bottom: 5rem;
}
.tools-list img{
  margin-inline: auto;
  margin-bottom: 2rem;
}
.logos {
  display: grid; 
  justify-content: center;
  gap: 5rem;
  margin-bottom: 8rem;
}
.logos img {
  margin-inline: auto;
}
.download p {
  margin-bottom: 2rem;
}

footer {
  background-color: #f6f6fe;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  
}
footer p {
  color: var(--clr-neutral-500);
  margin-bottom: 2rem;
}
footer img {
  width: 50px;
}
.socials {
  display: flex;
  gap: 2rem;
}
.socials img {
  width: 24px;
}

@media (min-width: 50rem) {
  body {
    width: 100%;
    background-image: url("images/bg-header-desktop.png");
    padding-inline: 0;
  }
.btn-container button{
    display: inline;
  }
    main {
    width: 100%;
  }
  .tracking-container {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  .tracking-disc {
    max-width: 420px;
    
  }
  .tools-list {
    display: flex;
    justify-content: space-between;
  }
  .logos {
    display: flex;
  }
  .download p {
    max-width: 700px;
    margin-inline: auto;
  }
  footer {
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;
  }
  .link-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    gap: 2rem;
  }
  .link-container p {
    margin: 0;
  } 
}